@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, html {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-image: url('img/fundo/fun01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: calc(100% - 40px);
}

.grid-item {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.not_interna {
    background-color: rgba(0, 0, 0, 0.5);
    grid-row: 1 / span 4;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not_interna img {
    border-radius: 50%;
}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.news-item h2, .news-item p {
    color: white;
}

.hora_mundial {
    grid-row: 5 / span 2;
    grid-column: 6;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* place-items: center; */
}

.prev_tempo {
    grid-row: 5 / span 2;
    grid-column: 5;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.dollar-text {
    display: inline-block;
    position: relative;
}

.dollar-text img {
    width: 1em; /* Set the width relative to the font size */
    height: 1em; /* Set the height relative to the font size */
    vertical-align: middle; /* Align the image vertically with text */
}

.dollar_hoje {
    grid-row: 5 / span 2;
    grid-column: 4;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#dollar_hoje {
    padding-top: 20px;
    background: none;
    display: grid;
    place-items: center;
}
.video {
    grid-row: 1 / span 4;
    grid-column: 3 / span 4; /* Adjusted the column range */
    background-color: rgba(0, 0, 0, 0.5);
}
.video video{
    height: 100%;
    width: 100%;
}

.aniversariante {
    grid-row: 5 / span 2;
    grid-column: 1 / span 3;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
   
}

.img_aniversariante {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
  
  .cont_aniversariante {
    flex: 1;
    padding: 0 20px;
    margin-left: -80px;
}
  
  .titulo_aniversariante {
    font-weight: bold;
    margin-bottom: 20px;
    /* margin-top: -85px; */
    font-size: 28px;
}

  .nome_aniversariante {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

  .desc_aniversariante {
    margin-bottom: 10px;
    font-size: 20px;
}

  .setor_aniversariante {
    margin-bottom: 10px;
    font-size: 18px;
}
  
  .icon_aniversariante {
    width: 150px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 10px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    
    .not_interna,
    .video,
    .hora_mundial,
    .prev_tempo,
    .dollar_hoje,
    .aniversariante {
        grid-column: span 2;
        grid-row: span 1;
    }
}
